<section class="banner" id="home">

    <div class="banner-item">
        <div class="container">
            <div class="banner-text">
                <h1>Frugal Consultancy & Design Ltd. <div class="h1-outro">Freelance Engineering Design Consultant | Kingston Upon Hull, East Yorkshire</div></h1><br>
                <a class="btn btn-primary" href="#contact">GET IN TOUCH</a>
            </div>
        </div>
    </div>

    <div  id="intro">
        <div class="container aboutext">
            <div class="inline-heading">
                <h2>FRUGAL DESIGN </h2>
                <p>is a freelance Engineering Design Consultant that provides a range of consultancy & design services to clients in construction, engineering and manufacturing in Hull, East Yorkshire and throughout the UK. Frugal was established in 2012 by its Director & Principal Engineer Tom Hartley, a Chartered Mechanical Engineer with approaching 20 years' professional engineering design experience.</p><br><br>
            </div>
            <p>Specialising in mechanical & structural engineering design, 3D design coordination, and engineering & design related systems development, Frugal aims to create successful long-term working relationships with businesses of all sizes through a flexible & pragmatic approach, responsiveness & reliability, and attention to detail & high quality deliverables.</p>
            <p>To discuss how Frugal can help you and your business, call Tom on <a href="tel:+44(0)7376718310">07376 718 310</a> or email him at <a href="mailto:hello@frugaldesign.co.uk">hello@frugaldesign.co.uk</a>.</p>
        </div>
    </div>

</section>