<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ base_url }}"><img src="{{ theme_url }}/img/logo_frugal-full.svg" alt="Frugal Consultancy & Design Ltd"/></a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <img src="{{ theme_url }}/img/nav.webp" alt="Nav Button"/>
        </button>
        <div class="navbar-collapse collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" id="top-menu">
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url }}">BACK TO SITE</a>
                </li>
            </ul>
        </div>
    </div>
</nav>