<section class="section" id="clients">
	<div class="container">

		<div class="title">
			<h2>CLIENTS</h2>
			<div class="titleline"></div>
		</div>

        <div class="aboutext">
            <p>Frugal consultancy & design has created value for a broad range of clients since 2012 in both subcontractor and independent freelancer capacities. And before Frugal Tom's professional work saw him deliver similar value for his previous employers and their many & varied end-clients.</p>
			<p>Just a small sample of firms Tom has worked with includes:</p>
        </div>

		<div class="row">
			{% include "includes/_client-logos.twig" %}
		</div>

		<br>
        <div class="aboutext">
			<p>Frugal is therefore able to draw upon significant experience of delivering engineering design services for businesses that have included D&B contractors, OEMs, fabricators, owner-operators, architects, R&D partners and other design consultants.</p>
        </div>
		
	</div>

	<br>

	<section id="reviews">
		<div id="svc">
			<h3 class="display-none">What our clients say</h3>
			{% include "includes/reviews.twig" %}
		</div>
	</section>

	<div class="container">
			<br>
			<div class="center-align">
				<h3>OUTSOURCE ENGINEERING DESIGN | HIRE A FREELANCE CONSULTANT</h3>
			</div>
			<br>
			<div class="aboutext">
				<p>Hiring an independent freelancer might not be your first thought when it comes to finding an engineering design consultant, but there are benefits in doing so. Their agility & independence can be a key factor in the success of many project types for many different types of customer, and when compared to the other options, a freelancer's professional service can provide a competitive alternative on numerous fronts, including:</p>
				<br>
			</div>
			
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">+ BROAD EXPERTISE</a>
						</h4>
					</div>
					<div id="collapse2" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row">
								<div class="col-12 col-md-2">
									<img src="{{ assets_url }}/site/CEng.webp" alt="A chartered engineer badge representing broad expertise" width="100%"/>
									<br>
									<br>
								</div>
								<div class="col-12 col-md-10">
									<p>Our Principal Engineer has broad ranging expertise he can draw upon to support your project. He is confident delivering work involving: Product Design, Design Management, Mechanical Engineering, Structural Design, BIM & Design Coordination Modelling, Analysis & Code Checking, Systems Development and complex 3D CAD.</p>
									<p>As a chartered engineer he'll apply this expertise to find & develop solutions to your engineering problems using new or existing technologies, and through innovation, creativity and change.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">+ CREATIVE APPROACH</a>
						</h4>
					</div>
					<div id="collapse3" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row">
								
									<p>Tom is an imaginative, problem-solving, multi-skilled engineering designer. He specialises in inventing, engineering, documenting, evaluating, iterating & ultimately converging upon innovative new solutions to his client's most challenging problems. As an independent outsider, he'll see your problems differently, find new solutions from beyond the historical mindset of your business or sector, and enable you to innovate without needing to create (or stretch) your own in-house design function.</p>
								
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">+ HIGH-QUALITY WORK</a>
						</h4>
					</div>
					<div id="collapse4" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row">
								<div class="col-12 col-md-2">
									<img src="{{ assets_url }}/site/clients-high-quality.webp" alt="A high-quality guarantee stamp" width="100%"/>
									<br>
									<br>
								</div>
								<div class="col-12 col-md-10">
									<p>Frugal's reputation depends on achieving high-quality results for the projects taken on. Many consultants take on more than they can deliver, do the contractual bare minimum and churn out barely understandable deliverables.</p>
									<p>In contrast, Frugal aims to go the extra mile and produce detailed - yet clear & concise - deliverables that will impress your project team and promote your broader business objectives.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">+ PERSONAL SERVICE</a>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row">
								<p>With a lot of consultants you'll often interact through a business manager, PM or agent, and rarely get direct access to the person actually doing the work. With Frugal, you'll directly liaise throughout with a responsive, reliable & experienced chartered engineer, meaning that the person who did your quote will be the one delivering it!</p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">+ LOW-RISK CHOICE</a>
						</h4>
					</div>
					<div id="collapse5" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row">
								<div class="col-12 col-md-2">
									<img src="{{ assets_url }}/site/clients-low-risk.webp" alt="A satisfaction guaranteed stamp representing low-risk service" width="100%"/>
									<br>
									<br>
								</div>
								<div class="col-12 col-md-10">
									<p>Tom is very transparent and will tell you at the start if there are any risks he anticipates might affect the delivery of your project.</p>
									<p>He's acutely aware of his capabilities & capacity, and usually knows within minutes of reviewing an enquiry whether or not he'll be able to deliver it to his usual high standards. He'll only ever take on what he can reasonably deliver, and for peace of mind even offers new customers a <a href="{{ base_url }}/blog/payment-details" target="_blank">full money-back satisfaction guarantee!</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">+ COST-EFFECTIVE</a>
						</h4>
					</div>
					<div id="collapse6" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row">
									<p>Tom is happy to produce fixed-fee quotes based on standard day rates, and he'll always consider significant discounts for reliable longer-term commissions. He doesn't have the bureaucracy, overhead or dead-weight that many larger consultancies do, so he can offer a lower day-rate and can sometimes also achieve a faster turnaround, meaning fewer days in total for an overall lower cost and a much better return on your investment in outsourced engineering design.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			{# <div class="ctr-btn">
				<a class="btn btn-danger" href="#contact">Get in Touch Today!</a>
			</div> #}		
	</div>
</section>