<div class="container">
    <div class="revbox">
        <div class="owl-carousel owl-reviews">

            <div class="item">
                <div>
                    <p>"Many thanks for all your hard work, the detail is fantastic! We've had your design approved so can now progress with fabrication. Thanks again for your incredible level of support and detail, we are all truly impressed with what you have done for us!"</p>
                    <div class="revperson">Joe, Project Director<br>Specialist Steelwork Fabricator, Manchester</div>
                </div>
            </div>

            <div class="item">
                <div>
                    <p>"I'm impressed!! Very impressed in fact. I was blown away by the quality of your work. Absolutely amazing, very pleased with it. Thank you for all your hard work and the professional results. As said before, we are all very pleased with your 3D design models, amazing!"</p>
                    <div class="revperson">Oliver, Director<br>Industrial Machinery Manufacturer, West Midlands</div>
                </div>
            </div>

            <div class="item">
                <div>
                    <p>"Tom is an excellent design engineer who will add value to any team. His deliverables are always great value in their own right, but the immeasurable other benefits he brings really are the icing on the cake!"</p>
                    <div class="revperson">Mick, Engineering Director<br>Civil/Structural Contractor, Hull</div>
                </div>
            </div>

            <div class="item">
                <div>
                    <p>"Thanks so much for all your work Thomas, we really value the quality in your work and believe it is worth every cent. I certainly think we'll be calling for your help again on a few of our future projects!"</p>
                    <div class="revperson">Daniel, Installation Artist<br>Sculptural Fabrication Studio, Cape Town</div>
                </div>
            </div>

            <div class="item">
                <div>
                    <p>"Tom went above and beyond. Very experienced, professional, and timely. Cares about his work and my overall project. His deliverables were very professional & provided clear additional information. Perfect on everything 10/10! Will definitely be working with him again!"</p>
                    <div class="revperson">Eddie, Visual Artist<br>Digital Advertising Start-up, Chicago</div>
                </div>
            </div>

        </div>
    </div>
</div>